@model IEnumerable<Gameblasts.Models.Post>

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>


<div class="form-group">
   @(await Component.InvokeAsync<ViewComponents.Post>(10))
</div>