@{
    ViewData["Title"] = "Discord";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<iframe src="https://discordapp.com/widget?id=157530644996423680&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
