@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/Chatbox.css" asp-append-version="true" />
</head>

<img src="http://i.imgur.com/9N9Eg2K.png"style="width:700px;height:700ppx;position:relative;">
@if (SignInManager.IsSignedIn(User))
{
    <h1>Hello <a href="/Profile/Index/@User.Identity.Name">@User.Identity.Name</a> and welcome to Gameblasts!</h1>
}
else
{
    <h1>Hello Guest and welcome to Gameblasts!</h1>
}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">

        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="http://i.imgur.com/flwnq75.jpg" alt="CSGO Rank Up" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p> </p>
            </div>
        </div>
        <div class="item">
           <img src="https://steamuserimages-a.akamaihd.net/ugc/268346916419001102/B27952E8F1E35A98740BBA2222120B7B00947C04/" alt="Earth Defensive" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p> </p>
            </div>
        </div>
        <div class="item">
            <img src="https://steamuserimages-a.akamaihd.net/ugc/271718911505088476/30A4D5F3C27297B83719AF0E5A7E5C4A8B55FBD9/" alt="DOOM" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p> </p>
            </div>
        </div>
        <div class="item">
            <img src="https://steamuserimages-a.akamaihd.net/ugc/276218793499281990/84973401691079D8E8263512BBC8261CDE6BAB1E/" alt="Dark Souls 3" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p> </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <iframe src="https://discordapp.com/widget?id=157530644996423680&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-2"></div>
    <div class="col-sm-6">
        <!--Edit ChatBox skal bare vises hvis brukeren er logget inn og har riktig rolle.-->
        @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Moderator")))
            {
                <div id="wrapper">
                    <div id="menu">
                        <!--Gi en velkommen melding til brukeren som er logget inn.-->
                        <p1 class="welcome">Hello <a href="/Profile/Index/@User.Identity.Name">@User.Identity.Name</a> !</p1>
                        <div style="clear:both"></div>
                    </div>
                    <div id="chatbox">
                        <b><editText>Write your new message in the input box.</editText></b>
                    </div>
                    <form method="POST">
                        <input name="message" type="text" id="chatmessage" size="63" placeholder="Write the new message" />
                        <input name="submit" type="submit" id="submitmessage" value="Send" />
                    </form>
                </div>
            }
    </div>
</div>