<html>
    <div class="row">
        <div class="col-md-18">
            <h1> Category1 </h1>
            <table id="table1" class="table-bordered">
                </tr>
                <tr>
                    <td class="ikonRamme">Ikon</td>
                    <td>Sub-category-1</td>
                </tr>
                <tr>
                    <td class="ikonRamme">Ikon</td>
                    <td>Sub-category-2</td>
                </tr>
                <tr>
                    <td class="ikonRamme">Ikon</td>
                    <td>Sub-category-3</td>
                </tr>
                <tr>
                    <td class="ikonRamme">Ikon</td>
                    <td>Sub-category-4</td>
                </tr>
            </table>
        </div>
    </div>
</html>