<h1 style="color: white">
Forum Rules
</h1>

<p1 style="color: white">
1. Treat other members with the respect they deserve. This should go without saying, but treat others like you would like to be treated !
</p1>
<br>
</b>
<br>
</b>
<p1 style="color: white">
2. The forum language is English only! Please only post in other languages in PM.
</p1>
<br>
</b>
<br>
</b>
<p1 style="color: white">
3. Please do not spam. The definition of spam is an irrelevant or advertising post. Any post considered spam will be removed.
</p1>
<br>
</b>
<br>
</b>
<p1 style="color: white">
4. Please do not post threads text in all CAPITALS since this is considered to be shouting and is not necessary. 
</p1>
<br>
</b>
<br>
</b>
<p1 style="color: white">
5. Please refrain from posting images larger than 800x600. This is considerate to members with slow internet speeds, and keeps the forum looking tidy.
</p1>
<br>
</b>
<br>
</b>
<p1 style="color: white">
6. Using red text is forbidden. Only moderators and administrators may use this.
</p1>
<br>
</b>
<br>
</b>
<p1 style="color: white">
7. Insulting and flaming or personal attacks against forum staff will be not tolerated.
</p1>
<br>
</b>
<br>
</b>
<p1 style="color: white">
8. Please be considerate in language you use on the forum, some of our members are younger than others. Swearing is not completely banned, just do not swear unnecessarily, and only use minor words. A filter is in place to safeguard this system.
</p1>
<br>
</b>
<br>
</b>
<p1 style="color: white">
9. No hacking, and illegal activity, such as torrents and illegal downloads, this will not be tolerated, and if appropriate, may be reported to local authority.
</p1>
<br>
</b>
<br>
</b>
<p1 style="color: white">
10. Please do not post inappropriate material, we hope everyone understands what we mean by this. The policy goes that if you would not feel comfortable viewing it at work, or in front of children or parents, don't post it !
</p1>
<br>
</b>
<br>
</b>
<p1 style="color: white">
These rules are only in place to ensure our community is a fun place to be, and a comfortable atmosphere for all.
</p1>
<br>
</b>
<br>
</b>
<h3 style="color: white">
What happens if I break a rule ?
</h3>
<br>
</b>
<br>
</b>
<p1 style="color: white">
Depending on the severity of the infraction, a different course of action may be taken, but the usual practice is as follows :
</p1>
<br>
</b>
<br>
</b>
<h4 style="color: white">
1st rule break (Minor offence) :
</h4>
<br>
</b>
<br>
</b>
<p1 style="color: white">
Corrected, A PM may of been sent, no further action taken
</p1>
<br>
</b>
<br>
</b>
<p1 style="color: white">
For a more serious offence, a warning will be issued, this is a mark against your name letting us know you have broken a rule
</p1>
<br>
</b>
<br>
</b>
<h4 style="color: white">
2nd rule break.
</h4>
<br>
</b>
<br>
</b>
<p1 style="color: white">
Another warning
</p1>
<br>
</b>
<br>
</b>
<h4 style="color: white">
3rd rule break
</h4>
<br>
</b>
<br>
</b>
<p1 style="color: white">
On your 3rd warning, you will receive a temporary ban, the length of which will depend on the severity of the incident.
</p1>
<br>
</b>
<br>
</b>
<p1 style="color: white">
On another breach of rules :
</p1>
<br>
</b>
<br>
</b>
<p1 style="color: white">
After this it will be assumed you will not learn your lesson, so you will receive a permanent ban, meaning you will never be able to visit the forum again.
</p1>
<br>
</b>
<br>
</b>
<p1 style="color: white">

If you have any questions regarding the rules feel free to PM any member of site staff, who will be able to clear things up for you.

</h1>