@model IEnumerable<Gameblasts.Models.Post>

@{
    ViewData["Title"] = "Counter Strike: Global Offensive";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>


<div class="form-group">
    
   @(await Component.InvokeAsync<ViewComponents.Post>(10))
</div>