 Component.InvokeAsync<ViewComponents.Post>(10))
    
</div>


            
         <div class="col col-md-8" id="row"> <li><a asp-area="" asp-controller="Forum" asp-action="SuperSmashBrosGeneral" id="SuperSmashBrosGeneral">General Discussion</a></li>  </div>
        
         <div class="col col-md-8" id="row"> <li><a asp-area="" asp-controller="Forum" asp-action="SuperSmashBrosNews" id="SuperSmashBrosNews">News</a></li>  </div>
        
         <div class="col col-md-8" id="row"> <li><a asp-area="" asp-controller="Forum" asp-action="SuperSmashBrosMedia" id="SuperSmashBrosMedia">Media</a></li>  </div>
        
         <div class="col col-md-8" id="row"> <li><a asp-area="" asp-controller="Forum" asp-action="SuperSmashBrosLTP" id="SuperSmashBrosLTP">Looking to play</a></li>  </div>
        
         <div class="col col-md-8" id="row"> <li><a asp-area="" asp-controller="Forum" asp-action="SuperSmashBrosSupport" id="SuperSmashBrosSupport">Support</a></li>  </div>

   