@model Gameblasts.Models.ChatMessage
<!--Formatet til hvordan chat meldingene skal se ut kan bli endret senere. 
    Så lenge de ser OK ut. -->
<i><CMDate>@Model.Date</CMDate></i>
<a href="#"><CMUser>@Model.User</CMUser></a>
<br>
<CMMessage>@Model.Message</CMMessage>
<br>
<br>