body {
    font:12px arial;
    color: #222;
    text-align:center;
}
  
input { font:12px arial; }
  
a {
    color:#0000FF;
    text-decoration:none; }
  
    a:hover { text-decoration:underline; }
  
#wrapper{
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:504px;
    border:1px solid #ACD8F0; }
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto; }
  
#chatmessage {
    width:395px;
    border:1px solid #ACD8F0; }
  
#submitmessage { width: 60px; }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }

h2 { color: white; }

p2 { color: white; text-align: center;}

/*Disse feltene endrer tekst stilen til meldingene i chatbox. 
  For å få avstand mellom dato/bruker/melding blir det brukt relativ posisjon.
  Dette kan bli endra når utseende til chatboxen skal bli endra til en fullstendig versjon.
*/
/* --------------------------------------------------------------------------------- */
CMDate { text-align: start;}

CMMessage { 
    position: relative;
    left: 20px;
    max-width: 70px;}

CMUser { 
    position: relative;
    left: 10px;}
/* --------------------------------------------------------------------------------- */