body {
    font:12px arial;
    color: #222;
    text-align:center;
}
  
input { font:12px arial; }
  
a {
    color:#0000FF;
    text-decoration:none; }
  
    a:hover { text-decoration:underline; }
  
#wrapper{
    margin:0 auto;
    padding-bottom:25px;
    background:#31909b;
    width:504px;
    border:1px solid #0f8d9b; }
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#17d5ea;
    height:270px;
    width:430px;
    border:1px solid #0f8d9b;
    overflow:auto; }
  
#chatmessage {
    width:395px;
    background:#17d5ea;
    border:1px solid #0f8d9b;
    color: white; }
  
#submitmessage {
     width: 60px;
     background: #17d5ea;
     border: #0f8d9b; }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }

h2 { color: white; }

h1 { color: white; }

p1 { 
    color: white;
    text-align: center;}

p2 { 
    color: white;
    text-align: center;
    font: 24px arial;}

/*Disse feltene endrer tekst stilen til meldingene i chatbox. 
  For å få avstand mellom dato/bruker/melding blir det brukt relativ posisjon.
  Dette kan bli endra når utseende til chatboxen skal bli endra til en fullstendig versjon.
*/
/* --------------------------------------------------------------------------------- */
CMDate {
     text-align: start;
     color: grey;}

CMMessage { 
    position: relative;
    left: 20px;
    max-width: 70px;}

CMUser { 
    position: relative;
    left: 170px;}

EditButton{
    position: relative;
    left: 185px;}

editText{
    color: black;
    font: 20px Arial;
}
/* --------------------------------------------------------------------------------- */