body {
    padding-top: 170px;
    padding-bottom: 20px;
    background-image: url("/images/Background.png");
    background-repeat: repeat;
    background-attachment: fixed;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
    border-radius: 10px;
}
#textarea2 {
    max-width: 1000px;
    border-radius: 10px;
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
    color: white;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.sidenav {
    margin-top: 135px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #222222;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 120px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.1s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    padding-top: 40px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#TopNavbar { height: 140px; }

#Welcome
{
    position: fixed;
    color: darkgray;
}


#Home
{
    position: absolute;
    top: 40px;
    left: 20px;
    z-index: 1;
    max-height: 60px;
    max-width: 150px;

}

#Forums
{
    position: absolute;
    top: 40px;
    left: 100px;
    z-index: 1;
    max-height: 60px;
    max-width: 150px;
}
 
 #News
 {
    position: absolute;
    top: 40px;
    left: 220px;
    z-index: 1;
    max-height: 60px;
    max-width: 150px;
 }

#Events
{
    position: absolute;
    top: 40px;
    left: 300px; 
    z-index: 1;
    max-height: 60px;
    max-width: 150px;
}

/* Adjustments for the main forum view*/

#row
{
    outline-color: black;
    
    background-color: white;
}

#row1
{
    outline-color: black;
    
    border-color: lightgray;
    background-color: #f1f1f1;
}


#row2
{
    outline-color: grey;
    
    border-color: lightgray;
    background-color: #f1f1f1;
}

#blank
{
    outline-color: white;
    border-color: white;
    background-color: white;
}

#submitreply {
     outline-color: white;
    border-color: white;
    background-color: white;
    max-width: 100px;

}

/* Adjustments for the size of images used in the forums */

#CsGo {
    max-height: 300px;
    max-width: 300px;
}
#LoL {
    max-height: 200px;
    max-width: 200px;
}
#SuperSmash {
    max-height: 200px;
    max-width: 200px;
}
#Dota2 {
    max-height: 200px;
    max-width: 200px;
}
#Overwatch {
    max-height: 200px;
    max-width: 200px;
}
#HearthStone {
    max-height: 200px;
    max-width: 200px;
}
#Starcraft2 {
    max-height: 200px;
    max-width: 200px;
}
#UnrealTournament {
    max-height: 200px;
    max-width: 200px;
}
#QuakeChampions {
    max-height: 200px;
    max-width: 200px;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}


#Subforum {
    color: black;
}

#buttons {
    background-color: #222222;
    width: 1500px;
    top: 140px;
    left: -10px;
    position: fixed;
    z-index: 1;
    height: 40px;
    padding-left: 75px;
    
}

#white {
    color: white;
}

#hmpge {
    color: white;
    font: 16px Arial;
}
.col-md-8{
  border-radius: 10px;
  max-width: 1000px !important;
  
}

.col-md-4{
  border-radius: 10px;
  max-width: 1000px !important;
 
}

.col-md-6{
  border-radius: 10px;
max-width: 1000px !important;
}


#created{
    font-size: x-small;
}