 Component.InvokeAsync<ViewComponents.Post>(10))
    
</div>


            
         <div class="col col-md-8" id="row"> <li><a asp-area="" asp-controller="Forum" asp-action="LeaugeOfLegendsGeneral" id="LeaugeOfLegendsGeneral">General Discussion</a></li>  </div>
        
         <div class="col col-md-8" id="row"> <li><a asp-area="" asp-controller="Forum" asp-action="LeaugeOfLegendsNews" id="LeaugeOfLegendsNews">News</a></li>  </div>
        
         <div class="col col-md-8" id="row"> <li><a asp-area="" asp-controller="Forum" asp-action="LeaugeOfLegendsMedia" id="LeaugeOfLegendsMedia">Media</a></li>  </div>
        
         <div class="col col-md-8" id="row"> <li><a asp-area="" asp-controller="Forum" asp-action="LeaugeOfLegendsLTP" id="LeaugeOfLegendsLTP">Looking to play</a></li>  </div>
        
         <div class="col col-md-8" id="row"> <li><a asp-area="" asp-controller="Forum" asp-action="LeaugeOfLegendsSupport" id="LeaugeOfLegendsSupport">Support</a></li>  </div>

   