@using Gameblasts.Models.CategoryModels
@model Gameblasts.Models.Post

@inject SignInManager<ApplicationUser> SignInManager

    <p> @Model.SubCategory</p>
@if (SignInManager.IsSignedIn(User))
{
    <h1 id="white" style="padding-left: 300px"> Create a new Thread</h1>
    <form asp-controller="Category" asp-action="CreateThread" class="form-horizontal" role="form">
        <div class="form-group">
            <br>
            <label id="white" asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col col-md-8">
                <input id="textarea2" asp-for="Title" style="width:600px">
            </div>
                <input asp-for="SubCategory" type="hidden" value=@Model.SubCategory>
                 <br>
                 <br>
            <label id="white" asp-for="Body" class="col-md-2 control-label"></label>
            <div class="col col-md-8">
                <textarea id="textarea2" asp-for="Body"style="width:600px; height: 200px" rows="5"></textarea>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 cold-md-10">
                <input type="submit" value="Submit">
            </div>
        </div>
    </form>
}
else
{
    <div class="row">
        <p>Please Login to add a blog post!</p>
    </div>
}
