<html>
    <div class="row">
        <div class="col-md-18">
            <table id="table1" class="table-bordered">
                </tr>
                <tr>
                    <td class="ikonRamme">Ikon</td>
                    <td>Category1</td>
                    <td><button onclick="">Expand</button>
                </tr>
                <tr>
                    <td class="ikonRamme">Ikon</td>
                    <td>Category2</td>
                </tr>
                <tr>
                    <td class="ikonRamme">Ikon</td>
                    <td>Category3</td>
                </tr>
                <tr>
                    <td class="ikonRamme">Ikon</td>
                    <td>Category4</td>
                </tr>
            </table>
        </div>
    </div>
                @(await Component.InvokeAsync<ViewComponents.CategoryViewComponent>("topCat1"))
</html>