<html>
    <div class="row">
        <div class="col-md-18">
            <table id="table1" class="table-bordered">
                </tr>
                <tr>
                    <td class="ikonRamme">Ikon</td>
                    <td>Category-1</td>
                    <td><button onclick="@(await Component.InvokeAsync<ViewComponents.CategoryViewComponent>(Category1))">Expand</button>
                </tr>
                <tr>
                    <td class="ikonRamme">Ikon</td>
                    <td>Category-2</td>
                </tr>
                <tr>
                    <td class="ikonRamme">Ikon</td>
                    <td>Category-3</td>
                </tr>
                <tr>
                    <td class="ikonRamme">Ikon</td>
                    <td>Category-4</td>
                </tr>
            </table>
        </div>
    </div>
</html>