@model IEnumerable<Gameblasts.Models.CategoryModels.CategoryModel>


    @foreach (var s in Model){
        Html.RenderPartial("CategoryPartial/_DisplayCategory", s);
    }

<html>
    @(await Component.InvokeAsync<ViewComponents.CategoryViewComponent>("topCat1"))
    <div class="row">
        <div class="col-md-offset-2 col-md-10">
            <li><a asp-area="" asp-controller="Category" asp-action="AddCategoryDemo">Add Category</a></li>
        </div>
    </div>
</html>