@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model Gameblasts.Models.ApplicationUser

@{
    ViewData["Title"] =  @UserManager.GetUserName(User);
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="container">
    <div class="row">
        <div class="col" id="profileimg">
            <img src="https://museum.wales/media/40374/thumb_480/empty-profile-grey.jpg" alt="some_text" style="width:200px;height:220px;">
        </div>
        <div class="col" id="userInfo">
           Username: 
        </div>
        <div class="col" id="AboutInfo">
            sometext
        </div>
    </div>
</div>
<a id="changeProfileImage">Change Picture</a>
<br>



<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>