@model IEnumerable<Gameblasts.Models.Post>

<div class="content">
    <div class ="row"><br></div>
    @foreach(var p in Model.Reverse())
    {

        @* Creates and displays individual rows for each post in a grid system. *@
       
                <b> Created by: </b> @p.User 
                    <div class="row"> </div> 
                        <b> Created: </b>@p.Date
                        <div class="row"> </div> 
                            <b> Subcategory: </b>@p.SubCategory 
                        }
        
</div>
