@model Gameblasts.Models.CategoryModels.CategoryModel

<div class="row">
    <div class="col-md-6">
        <br><br>
        <p>@Model.name</p>
   
   @* @using (Html.BeginForm("AddSubCategoryDemo", "Category", "CategoryFormModel"))
    {
        @Html.Hidden("parentID", @Model.parent.id)
        @Html.TextArea("name")
        <button type="submit" class="btn btn-default">Add Category</button>
    }*@
    </div>
</div>
