@model IEnumerable<Gameblasts.Models.Post>

@{
    ViewData["Title"] = "Counter Strike: Global Offensive";
}

<h2>@ViewData["Title"].</h2> 
<h3>@ViewData["Message"]</h3>

<a asp-controller="Forum" asp-action="OverwatchForumPostGeneral" class="btn btn-info" role="button">Create a new thread</a>

<div class="form-group">
 
   @(await Component.InvokeAsync<ViewComponents.Post>(10))
    
</div>