@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Chatbox";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<head>
    <link rel="stylesheet" href="~/css/Chatbox.css" asp-append-version="true" />
</head>

<!--Edit ChatBox skal bare vises hvis brukeren er logget inn og har riktig rolle.-->
@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <div id="wrapper">
        <div id="menu">
            <!--Gi en velkommen melding til brukeren som er logget inn.-->
            <p class="welcome">Hello <a href="#">@User.Identity.Name</a> !</p>
            <div style="clear:both"></div>
        </div>
        <div id="chatbox">
            <b><editText>Write your new message in the input box.</editText></b>
        </div>
        <form method="POST">
            <input name="message" type="text" id="chatmessage" size="63" placeholder="Write the new message" />
            <input name="submit" type="submit" id="submitmessage" value="Send" />
        </form>
    </div>
}