 Component.InvokeAsync<ViewComponents.Post>(10))
    
</div>


           
         <b><div class="col col-md-8" id="row"> <li><a asp-area="" asp-controller="Forum" asp-action="CsGoGeneral" id="CsGoGeneral">General Discussion</a></li>  </div>
            </b>
         <b><div class="col col-md-8" id="row"> <li><a asp-area="" asp-controller="Forum" asp-action="CsGoNews" id="CsGoNews">News</a></li>  </div>
            </b>
         <b><div class="col col-md-8" id="row"> <li><a asp-area="" asp-controller="Forum" asp-action="CsGoMedia" id="CsGoMedia">Media</a></li>  </div>
            </b>
         <b><div class="col col-md-8" id="row"> <li><a asp-area="" asp-controller="Forum" asp-action="CsGoLTP" id="CsGoLTP">Looking to play</a></li>  </div>
            </b>
         <b><div class="col col-md-8" id="row"> <li><a asp-area="" asp-controller="Forum" asp-action="CsGoSupport" id="CsGoSupport">Support</a></li>  </div>
            </b>
   </div>


 
        