
<div class ="conatiner">
    <div class="container-fluid">
        <div class="row equal" id="equal">  
            <dt id="Subforum"> 
            <div class="col col-md-8" id="row"> <a asp-area="" asp-controller="Forum" asp-action="CsGoGeneral" id="CsGoGeneral">General Discussion</a>  
            </div>
            <div class="col col-md-8" id="row"> <a asp-area="" asp-controller="Forum" asp-action="CsGoNews" id="CsGoNews">News</a> 
            </div>
            <div class="col col-md-8" id="row"> <a asp-area="" asp-controller="Forum" asp-action="CsGoMedia" id="CsGoMedia">Media</a> 
            </div>
             <div class="col col-md-8" id="row"><a asp-area="" asp-controller="Forum" asp-action="CsGoLTP" id="CsGoLTP">Looking to play</a>  
            </div> 
            <div class="col col-md-8" id="row"> <a asp-area="" asp-controller="Forum" asp-action="CsGoSupport" id="CsGoSupport">Support</a>
            </div>  
            </dt>       
         </div>
    </div>
</div>

 
        