 Component.InvokeAsync<ViewComponents.Post>(10))
    
</div>


            
         <div class="col col-md-8" id="row"> <li><a asp-area="" asp-controller="Forum" asp-action="Dota2General" id="Dota2General">General Discussion</a></li>  </div>
        
         <div class="col col-md-8" id="row"> <li><a asp-area="" asp-controller="Forum" asp-action="Dota2News" id="Dota2News">News</a></li>  </div>
        
         <div class="col col-md-8" id="row"> <li><a asp-area="" asp-controller="Forum" asp-action="Dota2Media" id="Dota2Media">Media</a></li>  </div>
        
         <div class="col col-md-8" id="row"> <li><a asp-area="" asp-controller="Forum" asp-action="Dota2LTP" id="Dota2LTP">Looking to play</a></li>  </div>
        
         <div class="col col-md-8" id="row"> <li><a asp-area="" asp-controller="Forum" asp-action="Dota2Support" id="Dota2Support">Support</a></li>  </div>

   